* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff9ea;
}

section {
  padding: 1.75rem 8%;
}

.btn-default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcb45;
  border-radius: 0.75rem;
  padding: 0.625rem 0.875rem;
  font-weight: 600;
  box-shadow: 0 0 0.625rem 0.125rem rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-default:hover {
  background-color: #f8d477;
}

.social-media-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.813rem;
  height: 2.5rem;
  background-color: #fff;
}


